

.content1
{
    height:30%; 
    background-color:black ;
    color: white ;
    
}
    

.content2
{
    background-color: black;
}
.p-5
{
    padding: 8rem !important;
}
.pt-5
{
padding-top:6rem ;
}
.pb-5
{
    padding-bottom:7rem;
}
.font1
{
    font-size: smaller;
}
.font2
{
    font-size: small;
}

p{
    font-size: x-small;
}
.ps-5 {
    padding-left: 7.5rem !important;
}
.pt-5
{
    padding-top: 7.5rem;
}

.content3:before
{
content:" ";
position: absolute;
display: block;
width: 43%;
height: 2px;
left: 0;
top: 50%;
background-color:#bbb ;
z-index: -2;
}
.content3:after
{
content:" ";
position: absolute;
display: block;
width: 43%;
height: 2px;
right: 0;
top: 50%;
background-color:#bbb ;
z-index: -2;
}
.content4
{
    background: white;
}


/* .pt-sm-3
{
    padding-top: 3rem !important;
}
.pt-lg-5
{
    padding-top: 9rem !important; 
} */


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .fontpad1
    {
        padding-top: 2rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .fontpad1
    {
        padding-top: 20rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .fontpad1
    {
        padding-top: 10rem;
    }
}